@charset 'UTF-8';
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900');
@import url('font-awesome.min.css');


	body,input,textarea,select {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		font-size: 20pt;
		line-height: 1.75em;
		color: #000000;
		letter-spacing: 0.5px;
	}

h1,h2,h3,h4,h5,h6 {
		font-weight: 900;
		color: inherit;
	}

	/* Form */

#cam {
		text-align: center;
		}

		form {
			max-width: 40%;
			margin-right: auto;
			margin-left: auto;
		}
		
			form label {
				display: block;
			}
		
			form input[type="text"],
			form input[type="email"],
			form input[type="password"],
			form select,
			form textarea {
				display: block;
				width: 100%;
				padding: 0.65em 0.75em;
				background: none;
				border: solid 2px rgba(185,186,187,0.25);
				color: inherit;
				border-radius: 0.5em;
				outline: none;

				-moz-appearance: none;
				-webkit-appearance: none;
				-o-appearance: none;
				-ms-appearance: none;
				appearance: none;

				-moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
				-webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
				transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
			}

				form input[type="text"]:focus,
				form input[type="email"]:focus,
				form input[type="password"]:focus,
				form select:focus,
				form textarea:focus {
					border-color: #9ac8e9;
				}

			form input[type="text"],
			form input[type="email"],
			form input[type="password"],
			form select {
				line-height: 1.35em;
			}
				
			form textarea {
				min-height: 8em;
			}

			form .formerize-placeholder {
				color: rgba(145,146,147,0.85) !important;
			}

			form ::-webkit-input-placeholder {
				color: rgba(145,146,147,0.85) !important;
			}

			form :-moz-placeholder {
				color: rgba(145,146,147,0.85) !important;
			}

			form ::-moz-placeholder {
				color: rgba(145,146,147,0.85) !important;
			}

			form :-ms-input-placeholder {
				color: rgba(145,146,147,0.85) !important;
			}

			form ::-moz-focus-inner {
				border: 0;
			}

			/* Button */
		
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button {
			background-color: #98c593;
			border: 0;
			border-radius: 3.5em;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			height: 3.5em;
			line-height: 3.5em;
			outline: 0;
			padding: 0 2em 0 2em;
			position: relative;
			text-align: center;
			text-decoration: none;

			-moz-appearance: none;
			-webkit-appearance: none;
			-o-appearance: none;
			-ms-appearance: none;
			appearance: none;

			-moz-transition: all 0.2s ease-in-out;
			-webkit-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
		}

			.button.down {
				width: 5em;
				height: 5em;
				line-height: 4.5em;
				padding: 0;
				background-image: url('images/dark-arrow.svg');
				background-position: center center;
				background-repeat: no-repeat;
				text-indent: -10em;
				overflow: hidden;
			}
			
				.button.down.anchored {
					bottom: 0;
					border-bottom: 0;
					border-radius: 3em 3em 0 0;
					height: 4.5em;
					margin-left: -2.5em;
				}
			
			.button.anchored {
				position: absolute;
				left: 50%;
			}
			
			input[type="button"]:hover,
			input[type="submit"]:hover,
			input[type="reset"]:hover,
			.button:hover {
				background-color: #a8d5a3;
			}
			
			input[type="button"]:active,
			input[type="submit"]:active,
			input[type="reset"]:active,
			.button:active {
				background-color: #88b583;
			}

			input[type="button"].style2,
			input[type="submit"].style2,
			input[type="reset"].style2,
			.button.style2 {
				background-color: transparent;
				border: solid 2px #e5e6e7;
				color: inherit;
			}

				input[type="button"].style2:hover,
				input[type="submit"].style2:hover,
				input[type="reset"].style2:hover,
				.button.style2:hover {
					background-color: rgba(145,146,147,0.035);
				}
				
				.button.style2.down {
					background-image: url('images/arrow.svg');
				}
